<div class="container game d-flex flex-column ">
  <h1 class="text-center">Stupid Coach</h1>

  <div class="d-block message question m-4">
    <p><%= @question.capitalize %></p>
    <p class="text-right"><i>- You</i></p>
  </div>

  <div class="d-block message answer m-4">
    <p><%= @answer %></p>
    <i>- Your coach</i>
  </div>

  <%= button_to "Ask another", "/ask",
  id: "new-question",
  class: "d-inline-block btn btn-primary",
  method: :get %>
</div>