<div class="container game">
  <h1 class="text-center">Stupid Coach</h1>

  <form class="input-group justify-content-center m-4 auto-width" action="/answer" method="get">
    <input name="question" type="text" class="form-control"  placeholder="Ask a question..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary rounded-right" type="submit" id="button-addon2">Ask</button>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
</div>